$blueColor: rgb(21, 196, 240);
$bgColor: rgb(109, 107, 107);
$addColor: rgb(66, 65, 65);
$cardWeight: 147px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 5px;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $bgColor;
}