@import "helpers.scss";
@import "game-list.scss";
@import "wish-list.scss";

.main-wrapper {
  display: flex;
  padding: 80px 0;
  justify-content: center;

  .add {
    font-size: 0.9em;
    text-align: center;
    color: $blueColor;
    font-weight: bold;
    padding: 3.5px;
    background-color: $addColor;
    margin-bottom: 5px;
  }

  .added {
    font-size: 0.9em;
    padding: 3.5px;
    background-color: $addColor;
    margin-bottom: 5px;
    color: rgb(55, 224, 134);
    font-weight: bold;
    text-align: center;
  }

  .title {
    font-size: 0.8em;
    text-align: center;
    color: #fff;
  }

  .price {
    text-align: center;
    color: rgb(184, 183, 183);
    font-size: 0.9em;
  }
}








